@page "/category"



<div class="category1">
   
    
  <div class="bblock1"> Свадебные платья</div>
  <div class="bblock2">Платья подружек невесты</div>
  <div class="bblock3">Аксессуары</div>
  
</div>