@page "/"

  <link href="StyleSheet.css" rel="stylesheet" />
<body>
<h1>Свадебный салон</h1>

<main class="container">
    
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Сделать заказ</a>
    
  </main>  <br /> <br /> <br /> <br /> <br /> <br />
  <br /> <br /> <br /> <br /> <br /> <br />
    <br /> <br /> <br /> <br /> <br /> <br />
   <br /> <br /> <br /> <br /> <br /> <br />
   <br /> <br /> <br /> <br /> <br /> <br />


 
  
  <div class="category">
      <h2 >Categories</h2>

  <div class="bblock1"> Свадебные платья</div>
  <div class="bblock2">Платья подружек невесты</div>
  <div class="bblock3">Аксессуары</div>
  </div>
  </body>